In [1]:
#loading libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
#reading csv file into dataframe
df = pd.read_csv('ks-projects-201612.csv', encoding = "latin")

/Users/tatis/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
#accessing the file 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323750 entries, 0 to 323749
Data columns (total 17 columns):
ID                323750 non-null int64
name              323746 non-null object
category          323745 non-null object
main_category     323750 non-null object
currency          323750 non-null object
deadline          323750 non-null object
goal              323750 non-null object
launched          323750 non-null object
pledged           323750 non-null object
state             323750 non-null object
backers           323750 non-null object
country           323750 non-null object
usd pledged       319960 non-null object
Unnamed: 13       625 non-null object
Unnamed: 14       12 non-null object
Unnamed: 15       4 non-null object
Unnamed: 16       1 non-null float64
dtypes: float64(1), int64(1), object(15)
memory usage: 42.0+ MB

#### deadline and lauch are not in the time format,  few numbers columns aren't integer/floats, 4 last columns are inconsistent and have very few information

In [4]:
df.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000,2015-08-11 12:12:28,0,failed,0,GB,0,NaN,NaN,NaN,NaN
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000,2013-01-12 00:20:50,220,failed,3,US,220,NaN,NaN,NaN,NaN
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 04:24:11,5000,2012-03-17 03:24:11,1,failed,1,US,1,NaN,NaN,NaN,NaN
3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29 01:00:00,19500,2015-07-04 08:35:03,1283,canceled,14,US,1283,NaN,NaN,NaN,NaN
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01 13:38:27,50000,2016-02-26 13:38:27,52375,successful,224,US,52375,NaN,NaN,NaN,NaN

#### is the time of launch important? maybe makes sence to extract the date only as well as for dealine

In [7]:
#df['Unnamed: 13'].unique() #gives bunch of numbers, impossible to figure out waht are those; will drop 4 "Unnamed" columns

In [5]:
df.duplicated().sum() #no duplicates found, nice!

0

In [8]:
df.sample(5)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
299357,85361299,Learn WordPress!,Software,Technology,USD,2013-04-14 18:46:41,900,2013-03-15 17:46:41,19508.13,successful,678,US,19508.13,NaN,NaN,NaN,NaN
227141,420118988,Sleeve Clips,Design,Design,USD,2014-03-16 02:37:42,3225,2014-02-14 03:37:42,10647.62,successful,327,US,10647.62,NaN,NaN,NaN,NaN
118947,1706199229,Help Lauren Get to Art Book Club's September S...,Public Art,Art,USD,2014-08-19 23:29:58,450,2014-08-07 23:29:58,615,successful,21,US,615,NaN,NaN,NaN,NaN
195485,231155088,ArtMoose TV Series,Television,Film & Video,USD,2014-06-16 07:30:00,12000,2014-05-01 21:06:51,12029,successful,70,US,12029,NaN,NaN,NaN,NaN
100006,1594151490,Daniel Boone and the Opening of the American West,Documentary,Film & Video,USD,2014-02-16 21:05:59,7500,2014-01-17 21:05:59,50,failed,1,US,50,NaN,NaN,NaN,NaN

In [9]:
df.columns #stupid space at the end of each column, need to rename

Index(['ID ', 'name ', 'category ', 'main_category ', 'currency ', 'deadline ',
       'goal ', 'launched ', 'pledged ', 'state ', 'backers ', 'country ',
       'usd pledged ', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16'],
      dtype='object')

In [10]:
df_c1 = df.copy() #copying df

In [11]:
#removing the space by replace it with nothing :D 
df_c1 = df_c1.rename(columns = lambda x: x.replace(' ', ''))

In [12]:
df_c1.columns #much better

Index(['ID', 'name', 'category', 'main_category', 'currency', 'deadline',
       'goal', 'launched', 'pledged', 'state', 'backers', 'country',
       'usdpledged', 'Unnamed:13', 'Unnamed:14', 'Unnamed:15', 'Unnamed:16'],
      dtype='object')

In [13]:
df_c1.category.unique()

array(['Poetry', 'Narrative Film', 'Music', 'Film & Video', 'Restaurants',
       'Food', 'Drinks', 'Product Design', 'Documentary', 'Nonfiction',
       'Indie Rock', 'Crafts', 'Games', 'Design', 'Comic Books',
       'Art Books', 'Fashion', 'Theater', 'Comics', 'DIY', 'Webseries',
       'Food Trucks', 'Public Art', 'Illustration', 'Photography', 'Pop',
       'Tabletop Games', 'Art', 'Family', 'Fiction', 'Accessories',
       'Rock', 'Hardware', 'Weaving', 'Gadgets', 'Web', 'Jazz',
       'Ready-to-wear', 'Festivals', 'Video Games', 'Anthologies',
       'Publishing', 'Shorts', 'Electronic Music', 'Radio & Podcasts',
       'Apps', 'Cookbooks', 'Apparel', 'Metal', 'Hip-Hop', 'Periodicals',
       'Dance', 'Technology', 'Painting', 'Software', 'World Music',
       'Photobooks', 'Drama', 'Architecture', 'Young Adult',
       'Mobile Games', 'Flight', 'Fine Art', 'Action', 'Playing Cards',
       'Makerspaces', 'Punk', "Children's Books", 'People', 'Ceramics',
       'Fabrication Tools', 'Comedy', 'Performances', 'Sculpture',
       'Animation', 'Sound', 'Stationery', "Farmer's Markets", 'Events',
       'Classical Music', 'Graphic Design', 'Spaces', 'Country & Folk',
       'Mixed Media', 'Journalism', 'Movie Theaters', 'Animals',
       'Digital Art', 'Performance Art', 'Installations',
       'Community Gardens', 'DIY Electronics', 'Embroidery',
       'Camera Equipment', 'Farms', 'Conceptual Art', 'Fantasy',
       'Webcomics', 'Experimental', 'Puzzles', 'R&B', 'Print',
       'Music Videos', 'Calendars', 'Vegan', 'Video', 'Plays', 'Blues',
       'Bacon', 'Faith', 'Horror', 'Science Fiction', 'Jewelry',
       'Live Games', 'Small Batch', 'Woodworking', 'Places',
       'Graphic Novels', 'Footwear', '3D Printing', 'Academic',
       'Thrillers', 'Wearables', 'Musical', 'Photo', 'Immersive',
       'Workshops', 'Letterpress', 'Gaming Hardware', 'Zines', 'Candles',
       " 'As The World Collapses'", 'Television', 'Audio',
       ' A Traditional Experience', 'Space Exploration', 'Couture',
       ' the one act', ' Ever / No More Spam', 'Nature', 'Typography',
       'Latin', 'Robots', 'Crochet', 'Translations', 'Textiles',
       ' A Short Film from Adam S Curtis', 'Interactive Design',
       'Childrenswear', 'Quilts', 'Pet Fashion', ' A Workshop Production',
       'Knitting', 'Printing', 'Romance', 'Video Art', 'Kids',
       'Literary Journals', 'Civic Design',
       ' Cuphook Installation Made Easy',
       ' Fine Art deck inspired by Birds', 'Glass', ' Now.',
       ' A Ten Year Retrospective', 'Pottery',
       ' Puzzle/Shooter. iOS & Android with Kindle.',
       ' 3 GoPro cameras 1 UAV ultimate quadcopter drone',
       ' A Violin and Classical Guitar Album',
       ' From the Ruins of Innsmouth', 'Taxidermy', ' After War',
       ' Working Aperture', ' The English Teacher',
       ' Silhouette Children: A Documentary Film',
       ' the almost completed short film. ', ' an erotic text adventure',
       ' BEGGARS BANQUET', ' a documentary project',
       ' Join Our Brewery in the Shade', ' Debut vocal album.',
       " An Artitst's Residency", ' a 30 page one shot action comic book',
       ' the backpack that does more than just carry stuff',
       ' a mosaic re-creation using McDonalds cups', ' neighbors buy it',
       ' personalized', ' One CD at a time...', ' One Rivalry',
       ' Feeding Local', ' Serves 8-10 Persons)',
       " The Children's Books for Adults", ' Help a Struggling Artist!',
       ' assisting a paradigm shift within Psychiatry', 'Chiptune',
       ' The Super-Powered Arena Tabletop Game (Canceled)',
       ' A Documentary about exploited Bosnian orphans',
       ' The Story of Frank Buckles',
       ' Real Life Multiplayer Game for iOS/Android',
       ' Titanium Key Carry with Magnetic Quick Release',
       ' a diy backyard concrete skatepark.', ' Ethiopia is next!',
       ' A City Reader', ' book 1 of 3 a fantasy adventure in time',
       ' Verger en Polyculture Orchard', " A Children's Book Series",
       ' Sometimes too much', ' an Art Exhibition',
       ' a Collection of Illustrations from the Skateboard Mag',
       ' a film about christians and homosexuals',
       ' Ecological Activism and Art- exhibition and events',
       ' A six degrees of freedom space shooter.',
       ' Smallest Powerboat Crossing the Atlantic',
       ' The cult TV show on stage for the 1st time',
       ' exploring the genes of songwriting',
       ' stories for change - Domestic Abuses in third world country. ',
       ' Vrashka & The Spielpalast do the Fringe',
       ' online collectible card game', ' beautiful birds',
       ' Next Generation Ties', ' the perfect gift for her!',
       ' A Hip-Hop Infused Videogame', ' Equipping a Ceramic Studio',
       ' My Journey with Chipeta', 'Residencies',
       ' Showcasing Old Films in Unique Way', ')',
       ' Through the lens and back again...',
       ' Bangs to Bottom- All natural soaps', '} (Canceled)',
       ' The New Wind Warriors (Canceled)', ' Let the adventure begin.',
       ' Strongest/simplest to install doorchain.', ' The Max Letters',
       " 'Night Into Day' (Canceled)", nan, ' Easy Cuphook Installation',
       ' the game of classic pulp horror',
       ' A Short Film Hosted by Johnny Gothic\x99.', ' Time to Die',
       ' Products that enhance your surroundings',
       ' A novel by Shawn Hicks', ' or A Bloodstained Romance',
       ' A Proposed Model of Intelligence',
       ' uniquely depicted through the lens of an ipad',
       ' A Photographic Journey Through Herefordshire.',
       ' a newspaper for all Montanans.', ' Xeltian Invitation',
       ' A high-octane deck-building game', ' Real Bay Area Street Food',
       ' Memoir of an 18 y.o fuck-up', ' A Sort of Kindly Oxygen',
       ' jukebox inspired', ' The Specimen Line',
       ' free food for everyone', ' Building for Publication Deal',
       ' Relics & Rhythms', '-)', ' a new Get Set Go side-project.',
       ' Gaming Artists (Canceled)',
       ' Help us record our first album and play shows!', ' Rap Album',
       ' James McLain: Operation Green Harvest',
       ' Help Me Change the World (Canceled)', '3000 = $3000!!!',
       ' ME (V.isual I.nteractive A.rchive',
       " 'But it's my Birthday!' Edinburgh Fringe 2013",
       ' Music Without Borders', ' Memoir about my childhood in a cult.',
       ' The Novel', ' Marc & Mary sing together at last!',
       ' Pira Wants to Record It', ' Come be a part of the fun!',
       ' Optimized for Performance.', " Dani Joy's Debut Ukulele Album",
       ' Soyez un Champion', 'DR Science', ' EM Drives',
       ' Human Connection Through Emotions', ' An Ode to Ocean',
       ' Dear Journal: Entry One', ' From Ghettos to Ghost Towns.....',
       ' Inflatable Paddle and Surf Boards',
       ' a Book of Unconditional Love', ' An Upstate New York Short Film',
       ' Connecting Communities (Canceled)', ' cover by Paul Gulacy!',
       ' the zip line of Real Estate.',
       ' Girl Power Tour Benefit Concert', ' a film by Valeria Berumen',
       ' alternatives for companies', ' Unique gifts with message',
       ' Childrens Book!', ' six folding screens made of leaded glass.',
       ' Ripping Apart the Heavy Metal Sterotype',
       ' photographs and sounds of the French Maghrebi',
       ' A Different Themes', ' First of Its Kind',
       ' Delivering your daily bread.', ' indie-horror film project',
       ' make 1000 schools STEM proud!', ' City Pride With Style',
       ' Our Unsung Heros', ' The Game',
       ' not just a brand but a philosophy.',
       ' The Power of a Photograph', ' a TV show',
       ' Increase Cycling Comfort',
       ' Beautiful enough for you but made for your pet', ' a mini-comic',
       ' plexi cubes combining manmade and nature',
       ' a day in the life of a champion', ' delicious food & FUN',
       ' A Short Documentary by Charlie Moon', ' Chapter Two (Canceled)',
       ' July 2013!', ' Walking from Brooklyn to LA....',
       ' 30 min playtime!', ' The Game of Deception',
       ' The Life of Clancy Sigal', ' Open Source Spirometry Training',
       ' taking only what is needed (Canceled)',
       ' An All American Art Bar', ' a True Indie Project',
       ' plansforbuilding.com.au',
       ' a little bit of ingenuity to preserve our Earth!',
       ' Follow the Rabbit.', ' Hunters Moon. (Canceled)',
       ' Book One - The Ice Queen', ' the upcoming movie by',
       ' Fashion with Purpose', ' Music Album (Canceled)',
       ' The North (2015)', ' Reprint of unique deck',
       ' A Party Game For The Morally Bankrupt',
       " Florida's Homeless (Canceled)", ' Wearable Art',
       ' In this country of ours.', ' 2 NEW Music Videos (one fan voted)',
       ' Western Ghost Town Photographic Study', ' a short film',
       ' Help Refine a Book',
       ' development of new play by A. John Boulanger', ')=',
       ' Memories from Sheila Fleming', ' A Christmas Story (Canceled)',
       ' Family Nutrition', ' while creating jobs for others',
       ' Living for Music Dying for Love',
       ' Villa Bay Caribbean and Creole', ' Enjoy', ' CTRL XC',
       ' vintage meets the modern woman', ' The Weapon of Choice',
       " World's most awesome hotelroom in the air",
       ' an exhibition of photographic narratives.',
       ' The Stones of Magic', ' Succubus Tear', ' Balance Gaming',
       ' Full Bags ...Healthy Earth!',
       ' a story for all determined dreamers!', ' Volume 2',
       " A Women's Movement In Reggae",
       " the first of the Jack-to guides where novices write the how-to's",
       ' EP', ' a feature length HD film', ' kids vs. cars',
       ' Path of Light', ' Give the Gift of Spices and Flowers',
       ' in Color and Black/White',
       ' A Peek Backstage at Austin Fashion Week', ' Growing Dreams.',
       ' knit and crochet fashions handmade with love!',
       ' FACES OF ARTISTRY', ' (An American Opera )',
       ' not a potato salad!', ' The Future of At-Home Tech Support.',
       ' We-are-Legion!', ' Selected Poetry', ' Refugees in Greece',
       ' Print 1: Raptors (Canceled)', ' Songs by & about her + Stories',
       ' (Canceled)', 's Summer Carnival) (Canceled)',
       ' A collection of modern poetry.',
       ' Vol. 1: Book Drive (Canceled)', ' An Inevitable Destiny',
       ' Baking Cookies and Changing Lives',
       ' his first studio LP. Avant-Pop with a pinch of Zeuhl.',
       ' The Current Climate and Future of Aging',
       ' turn a short story into a novel & screenplay.',
       ' Year of Unique Art Exhibitions!', ' The Re-Birth Recordings',
       ' Getting from There to Here', ' The Legendary Mix',
       ' Change the world', ' Made in the USA', ' Episode 4',
       ' The Story Of My Life', ' a new way to do Democracy.',
       ' Solo project for Dave Broyles', ' Stand Up Stand Out',
       " a children's book", " Johnny's First Drum (a musical adventure)",
       ' Six-book Series.', ' How the Mother Half Lives (Hardcover)',
       ' Just Another Supernatural Novel? Wrong!', ' links)',
       ' The Jupiter II', ' A Christmas album unlike any other!',
       ' dress shirts', ' Uniting This Country Again', ' Part 1',
       ' An Invisible Message that Inspires and Motivates',
       ' Stitched By You', ' sophisticated vintage inspiration!',
       ' living censored', ' The Trailer (Canceled)',
       ' an instructional video', ' Expansion Pack 2',
       ' Tap. Paint. Love!', ' A World First!', ' A Comprehensive Blog',
       ' Rise of Alpha', ' The Making Of', ' Where The Villains Go.',
       ' A Mascot Change for a greater good.', ' STANZA: 365',
       ' Thespis Festival 2016', " A Young Hero's Story (Canceled)",
       ' the only tool you need.', ' Get Inspired!',
       " A Dancer's Journey", ' New 5 song EP with Visuals',
       ' How to Take Landscape Photographs.',
       " It's Only the End of the World", ' Her Secrets',
       ' A (Cook)Book That Shows You How.', ' MusicRogue Rocks!',
       ' Biking Across the West Coast', " Self Watering Spike - Eky'ta",
       ' give them a try!', ' or AFAR (a new play by mac wellman)',
       ' The Sobering Truth', ' Bringing the Bard to the classroom',
       ' A Novel Gastropub and Bicycle Outfitter', ' Bludhaven',
       ' An Expeditionary Residency', ' Right and Wrong',
       ' Interpretations of California...', ' INVEST.',
       ' CONCEPT/CHARACTER ART', ' Clothing with Memory',
       ' the next great Christian animated series.',
       ' Look Closer  - A photographic e-book',
       ' Luke and the Time Tunnel Trials (Canceled)',
       ' Leaving HoME: Prologue',
       ' a glimpse into the world of Human Trafficking',
       ' the Pocket sized Arduino compatible board',
       ' RucPac Photographers Backpack Camera Bag',
       ' a mobile food venue to feed your soul',
       ' Where do we go when we are seventy-six.',
       ' a film by Arius Blaze', ' Help Us Uncover History (Canceled)',
       " Groovin' in the Rough",
       ' designs innovations and inspirations.  ',
       'photos by Shell Sheddy',
       ' Expansion Pack #1 - Get a Card of your OC!', ' Book Two',
       ' The Gravity of Our Commitment', ' Pure & Simple.',
       ' a lino print to celebrate Duet racing in fastnet',
       ' Michelin Star Chef Approved.', ' A Tribute to George Duke',
       ' a little Van Gogh in all of us', ' Book 1',
       ' Bridging the gap between a bicycle and car',
       ' Love: A Song Cycle - Concert World Premier!',
       ' BEYOND RANA PLAZA', ' Jaded: The life that hardened my heart',
       ' A Webcomic', ' How To Protect Yourself',
       ' Sierra Leone street kids meet UK/US school students online',
       ' Get a Card of your own original Character!',
       ' Space for Creativity & Community', ' Recording Soundtracks',
       ' be a part of the problem!', ' Fantasy Humor Novel Trilogy',
       ' Fast Food', ' A Chocolofier! The next evolution for us',
       " one town's story of change!", ' Big Diehl Peppers',
       ' A Really Sexy Paranormal Romance', ' Really...',
       ' hydroponics reinvented. Grow Anything...Anywhere!',
       ' A Journey Inside Culinary Obsession',
       ' A Collection of Songs for the Season 2016', ' Making an album!',
       ' The Pro-Israel Prospective', ' The Equilibrium (Canceled)',
       ' Sustainably Harvested Jewelry', ' Free to write anything!',
       ' Tomorrow a leader (Canceled)', ' the Book of All Time',
       ' Nil per os pro re nata.', ' a novella',
       ' the road to The Cuppin Cake Truck.',
       ' Inspiring our Community to Write',
       ' real adventure for real kids.',
       ' God and the Universe is calling', ' 1st Birthday Celebration!',
       ' donate and receive a Cigar Box Guitar',
       ' a book and indie film project', ' Share the Dream!',
       " Idea's database.", ' or is there a third option?',
       ' find & locate incredible new photography spots',
       ' Fine Quality Resin 3D Printer at FDM price.',
       ' Bringing the beauty back to breastfeeding.',
       ' A Universal HealthCare Model',
       ' an interactive hobby magazine and club', ' project GRIMACE',
       ' Character Edition', ' Evolution Of The Brewpub', ' SoCal style',
       ' A Chamomile and Whiskey Documentary',
       'Burn the Cards! Gaming Facts Playing Cards!',
       ' Monetized social media platform.', ' PRECIOUS FOR MEN',
       " Keep The Monkey Rollin'", ' Overcome It',
       ' from Montana to Honduras and back.',
       ' Diaper Bags for Moms Everywhere', ' name TBD.',
       ' a guide to green choices', ' Art Exposition + Book',
       ' affordable outdoor gear to fit any terrain',
       ' into an Oil Painting', ' A Space Mission On A Budget',
       ' Universal Smartphone and Tablet Wall Mount',
       ' title tbd) (Canceled)', ' Carniphobia',
       ' A Jewellery Collection', ' The Enchanted Saga (Canceled)',
       ' TheMovement (Canceled)', ' Custom Handcrafted 3D Wall Art',
       ' A Desert Journey', ' Sign Language Translation',
       ' A Story of Character Not Forgotten', ' Season 1',
       ' a life-sized bucking horse',
       'TASTIC COVERSS(they stay on when fan is running)',
       ' Art Festival', ' the card game.',
       " Rock 'n' Roll Odyssey for Eco-Kids.",
       ' London Underground Album Project',
       ' Cultural traditions & celebration', 'An Explanation of Nature',
       ' A Story of Loss in a Community Misunderstood', 't',
       ' a web-based SSH interface for dev-op tasks.',
       ' reclaimed wood to fit your lifestyle.',
       ' Finding the least toxic cosmetic products', "  A Faerie's Tale.",
       ' We thought we would make it!!!', ' Grass-Route Collection)',
       ' Magazine & YouTube Channel', ' A Once-In-A-Lifetime Session',
       ' Encourage a friend', ' Volume One',
       ' Help Turn Up The Volume In The Arts!', ' Helping my family',
       ' A southern Tour', ' 40 Exercises. 1 Product. Zero Complication.',
       ' Rise of Alpha (Novel To Film)', ' Still Singing For Haiti',
       ' Trauma Affected Genes', ' Grocery Store Expansion',
       ' Josh Jennings Band', ' electronic dance music blog',
       ' Epic Viking 28mm miniatures',
       ' a furiously fast-paced game for iPhone and iPad',
       ' Saving the history of our military bases.', ' Reign Of Darkness',
       ' Think Differently', ' a melding of artwork and fashion',
       ' a reading in NYC', ' Gentle',
       ' Gourmet foods at reasonable prices',
       ' Santa Fe streamcaster of local & regional content',
       ' Bolt-on Tracks for ZTR market',
       ' Anti-Kidnapping Mobile App. (Canceled)',
       ' sidewalk driveway garden borders.', ' The Fourth Horseman',
       ' Forgotten Flag: the debut album.',
       ' Off The Couch & Into The Kitchen', ' The Battles for Power',
       ' In production in S.C',
       ' Manic Song-stronaut Materializes Album With Mind',
       ' Granite Falls Artists Gallery (Canceled)', ' One veterans dream',
       "' Garland Wright and the American Theater",
       ' United: Humanity Gradient',
       ' An Adventure Path for Pathfinder/5e',
       ' a new exciting book (Canceled)', ' Embrace your flaws',
       ' Always Drink at Your Heat', ' portraits of Columbus musicians',
       ' Be heard Be inspired', ' Replant-Regrow',
       ' Comfortable Fashion for Young Girls!',
       ' A recently discovered unpublished gem.',
       ' poetry to celebrate and awaken.', " A Pre- Mother's Day Gala",
       ' a new feature film', ' Android app for M:TG',
       ' USA-made products Series One', ' Summer Collection',
       ' The Community Pin Board Event App',
       ' Health Food Distributing and Resource Website.', ' Addicted',
       " now it's time to make a CD",
       ' A guide for the Explorer in everyone!', ' Book and Website',
       ' Bleed For Us.', ' a Welsh hero for the 21st century',
       ' Rider Facial Recognition & Pickup Name Display',
       ' a photographic journal by Cynthia Manuszak',
       ' From Cradle To Grave/Bridging The Gap Of Misconception',
       ' short film.', " a children's picture book about bullying",
       ' Creative Thinking Workshops', " How's Your Boring Job Dad?",
       ' from the Canvas of a Broken Heart©',
       ' Innovative Carers Software Platform', ' One Percent',
       ' A Project in Oil Painting.', ' Forgotten Futures',
       ' a journey from action to honor', ' ready to juice.',
       ' the colorful sneaker slippers for adults', 'Project Earth',
       ' Go Green', ' Museum Restoration Project',
       ' The Soul Seer Collection', ' Second Hand',
       ' Elemental Warfare (Canceled)', ' Fashion At Your Fingertips',
       ' Beautifully Handcrafted Art Cards',
       ' A miniature painting monograph.',
       ' An Illustrated A-Z of Things', ' I am Prisoner',
       ' No $ for CDs!', ' the Bakken Oil Disaster', ' Story 1 of 4',
       ' The Card Game',
       ' finally a shoelace that grips with a single knot!',

In [14]:
df_c1.category.nunique() # ouch, so many

770

In [15]:
df_c1.main_category.nunique() #that's better

120

In [16]:
df_c1.country.unique() #mm, what are those numbers instead of countries?

array(['GB', 'US', 'CA', 'NO', 'AU', 'IT', 'DE', 'IE', 'ES', 'N,"0', 'MX',
       'SE', 'FR', 'NL', 'NZ', 'CH', 'AT', 'BE', 'DK', 'HK', 'LU', '14',
       '46', '10', '0', '42', 'SG', '35', '780', '122', '213', '2', '3',
       '126', '73', '19', '1', '142', 'failed', '140', '38', '24', '60',
       '37', '29', '167', '45', '23', '4', '85', '9', '248', '111', '18',
       '13', '28', '40', '54', '17', '20', '195', '25', '72', '22', '12',
       '158', '62', '307', '31', '107', '7', '110', '6', '69', '68', '84',
       '75', '119', '78', '150', '77', '83', '89', '16', '154', '92',
       '11', '116', '56', '136', '58', '27', '26', '582', '43', '5', '41',
       '30', '177', '36', '15', '49', '51', '9854', '168', '8', '57',
       '283', '61', '33', '74', '157', '405', '91', '174', '813', '66',
       '52', '114', '288', '109', '21', '32', '169', '50', '98', '483',
       '289', '88', '124', '159', '222', '65', '631', '59', '53', '117',
       '197', 'successful', '70', '55', '108', '63', '732', '93', '162',
       '2015-09-10 18:15:45', '39', '34', '284', '170', '238', '246',
       '2001', '608', '144', '99', '71', '229', '338', '81', '176'],
      dtype=object)

In [18]:
df_c1.loc[df_c1['country'] == "78"]

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usdpledged,Unnamed:13,Unnamed:14,Unnamed:15,Unnamed:16
64523,1383969232,Venus Wrote a Hymn for our Baby,Pira Wants to Record It,Faith,Music,USD,2014-07-10 15:08:00,888,2014-06-26 09:03:06,2759,successful,78,US,2759,NaN,NaN,NaN

In [19]:
df_c1.loc[df_c1['country'] == "174"]

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usdpledged,Unnamed:13,Unnamed:14,Unnamed:15,Unnamed:16
150479,189401226,Bird Language with Jon Young,an instructional video,Documentary,Film & Video,USD,2011-09-16 23:20:31,6000,2011-08-02 23:20:31,7839,successful,174,US,7839,NaN,NaN,NaN

#### ok, it looks like where there was more than one category, the extra one was pushed in a wrong column and thus all the other entries were moved to the right; now it's clear what are those Unnamed columns with numbers. basically, we get to move it one (or more for some rows) column back

In [20]:
df_c1.loc[df_c1['country'] == 'successful']

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usdpledged,Unnamed:13,Unnamed:14,Unnamed:15,Unnamed:16
225692,410977509,Handmade Artisan Soaps: Natural,Gentle,Good for your skin,Crafts,Crafts,USD,2015-10-08 22:08:39,200,2015-09-08 22:08:39,435,successful,10,US,435,NaN,NaN
305503,890269949,Community Clothing. Make Clothes,Create Jobs,Restore Pride,Fashion,Fashion,GBP,2016-03-16 16:24:27,75000,2016-02-15 17:24:27,88619.2,successful,1020,GB,128535,NaN,NaN

In [21]:
df_c1.loc[df_c1['country'] == '2015-09-10 18:15:45']

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usdpledged,Unnamed:13,Unnamed:14,Unnamed:15,Unnamed:16
269970,677103185,SixSixSeven,Angels,Demons,Religion,Esoteric,Graphic Novels,Comics,USD,2015-10-10 01:00:00,750,2015-09-10 18:15:45,25,failed,1,US,25.0

In [22]:
df_c1.loc[df_c1['country'] == 'failed']

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usdpledged,Unnamed:13,Unnamed:14,Unnamed:15,Unnamed:16
13795,1081139420,The Rolling Stones,BEGGARS BANQUET,50 Years in the Making,Rock,Music,USD,2011-08-12 01:17:48,4625,2011-06-04 01:17:48,20,failed,2,US,20,NaN,NaN
16482,1097082409,Pixel art,personalized,Retro Gaming art.,Crafts,Crafts,USD,2016-07-28 21:36:59,500,2016-06-28 21:36:59,0,failed,0,US,0,NaN,NaN
61447,1365419849,VIA,ME (V.isual I.nteractive A.rchive,M.ercury E.dition),Software,Technology,USD,2016-03-19 20:40:23,10000,2016-02-18 21:40:23,26,failed,2,US,26,NaN,NaN
112934,1670090635,EXCALIBRE:Sword of Truth,Path of Light,Kingdom of Heaven.,Nonfiction,Publishing,USD,2016-04-01 08:00:00,24000,2016-02-22 21:57:30,1,failed,1,US,1,NaN,NaN
243349,516522480,American Booty,USA-made products Series One,Spirits,Painting,Art,USD,2013-02-02 03:45:14,1776,2013-01-03 03:45:14,401,failed,7,US,401,NaN,NaN
275186,708058934,Be Wise,Wear Wisdom,Divine Wisdom,Apparel,Fashion,USD,2015-02-27 13:53:56,10000,2015-01-28 13:53:56,1,failed,1,US,1,NaN,NaN

#### so if we look at initial amount of non-null objects in all Unnamed columns, it's 625+12+4+1 which makes it 642 or 0.2% of total amount of entries, which means we can easily just drop those

In [23]:
#make a list of real countries, and if country isn't in the list, entry will be dropped
country_list = df_c1.country.unique().tolist()

In [24]:
df_c1.country.unique()

array(['GB', 'US', 'CA', 'NO', 'AU', 'IT', 'DE', 'IE', 'ES', 'N,"0', 'MX',
       'SE', 'FR', 'NL', 'NZ', 'CH', 'AT', 'BE', 'DK', 'HK', 'LU', '14',
       '46', '10', '0', '42', 'SG', '35', '780', '122', '213', '2', '3',
       '126', '73', '19', '1', '142', 'failed', '140', '38', '24', '60',
       '37', '29', '167', '45', '23', '4', '85', '9', '248', '111', '18',
       '13', '28', '40', '54', '17', '20', '195', '25', '72', '22', '12',
       '158', '62', '307', '31', '107', '7', '110', '6', '69', '68', '84',
       '75', '119', '78', '150', '77', '83', '89', '16', '154', '92',
       '11', '116', '56', '136', '58', '27', '26', '582', '43', '5', '41',
       '30', '177', '36', '15', '49', '51', '9854', '168', '8', '57',
       '283', '61', '33', '74', '157', '405', '91', '174', '813', '66',
       '52', '114', '288', '109', '21', '32', '169', '50', '98', '483',
       '289', '88', '124', '159', '222', '65', '631', '59', '53', '117',
       '197', 'successful', '70', '55', '108', '63', '732', '93', '162',
       '2015-09-10 18:15:45', '39', '34', '284', '170', '238', '246',
       '2001', '608', '144', '99', '71', '229', '338', '81', '176'],
      dtype=object)

In [26]:
df_c1.loc[df_c1['country'] == 'N,"0'] #what's this country? looks like nothing wrong with the
                                     #rest of the info, so we leave it in the list of valid countries for now

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usdpledged,Unnamed:13,Unnamed:14,Unnamed:15,Unnamed:16
150,1000694855,STREETFIGHTERZ WHEELIE MURICA,Film & Video,Film & Video,USD,2014-09-20 06:59:00,6500,2014-08-06 21:28:36,555,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
287,100149523,Duncan Woods - Chameleon EP,Music,Music,AUD,2015-08-25 23:00:00,4500,2015-08-04 12:05:17,4767,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
549,1003023003,The Making of Ashley Kelley's Debut Album,Music,Music,USD,2015-04-09 21:06:13,3500,2015-03-10 20:06:13,3576,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
561,1003130892,Butter Side Down Debut Album,Music,Music,USD,2015-11-26 10:59:00,6000,2015-11-02 22:09:19,7007.8,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
650,1003629045,Chase Goehring debut EP,Music,Music,USD,2016-03-21 06:00:00,3000,2016-02-23 03:09:49,3660.38,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
714,1004013077,Spencer Capier Instrumental Project 2015,Music,Music,CAD,2014-10-10 22:51:01,4000,2014-09-10 22:51:01,4760,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
730,1004126342,LUKAS LIGETI'S 50TH BIRTHDAY FESTIVAL: ORIGINA...,Music,Music,USD,2015-06-11 04:00:00,5000,2015-05-15 02:12:35,6370,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
747,1004255433,The Battle For Breukelen: A Neighborhood Epic,Film & Video,Film & Video,USD,2015-11-07 08:59:00,6000,2015-10-10 18:45:24,6695,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
751,1004298993,"""Tamboura Plays Violin"" - a collection of Pop ...",Music,Music,USD,2015-03-28 18:28:27,2750,2015-02-11 19:28:27,2926,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
765,1004402863,Nightingale Noel - An A Cappella Holiday CD,Music,Music,USD,2015-12-11 21:02:55,1200,2015-11-11 21:02:55,1585,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
883,1005185256,Local Music Connection,Music,Music,USD,2015-12-18 21:50:04,1500,2015-11-18 21:50:04,69,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
891,100522240,DO NOT DUPLICATE - Selected by 2015 Devon Film...,Film & Video,Film & Video,GBP,2015-04-10 23:07:00,1500,2015-03-11 22:07:00,277,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
963,1005653464,SA-4 Studios,Music,Music,USD,2015-03-25 17:33:14,5000,2015-01-24 18:33:14,0,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1073,1006327667,Letters to the Wild - EP,Music,Music,USD,2014-10-31 21:48:31,2000,2014-10-02 22:48:31,2560,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1447,1008671527,The Fitness Mindset :-),Publishing,Publishing,EUR,2015-11-17 15:45:38,8000,2015-10-13 15:45:38,30,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1448,1008675685,Inspired & the Sleep EP - Eyelid Kid,Music,Music,USD,2015-10-30 09:10:00,2000,2015-10-04 21:48:11,2079,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1475,1008815806,Into Winter: An Instrumental Christmas Experiment,Music,Music,USD,2014-10-11 23:23:40,2000,2014-09-10 23:23:40,2085,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1531,1009154868,Help advance scientific guitar & bass design,Music,Music,USD,2016-03-12 01:42:44,5000,2016-02-11 01:42:44,121,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1561,1009312309,Mr. Pickles,Publishing,Publishing,USD,2015-05-01 16:36:51,3750,2015-04-01 16:36:51,230,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1624,1009774693,Universal Peace | Universal Justice,Music,Music,USD,2014-09-06 05:59:00,2500,2014-07-29 23:01:07,2720,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1685,1010217550,Solarboot-Havel-Tour,Music,Music,EUR,2015-05-31 22:37:00,2500,2015-05-14 23:05:51,2620,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1769,1010694326,Surrender,Music,Music,CAD,2015-01-30 08:59:00,5000,2014-12-29 01:27:30,5197,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1893,1011508551,EBENEZER Solo Record,Music,Music,USD,2015-05-30 17:33:24,8000,2015-04-20 17:33:24,8361,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1978,1011952280,NHSOB Summer Festival 2015,Music,Music,GBP,2015-05-15 17:21:17,3000,2015-03-31 17:21:17,34,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1998,1012058337,Degobah Max,Music,Music,USD,2015-12-05 22:01:00,4500,2015-11-06 21:55:39,0,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
2051,1012414277,WE ARE WHO WE ARE BUT WHATEVER WE WANT TO BE!!!,Music,Music,USD,2015-08-31 22:40:00,3000,2015-07-13 17:09:24,0,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
2097,1012704793,Life In The Bus Lane,Film & Video,Film & Video,USD,2014-12-21 05:09:09,7500,2014-11-21 05:09:09,9329,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
2102,1012744036,An Oratorio for our Time - Last Stop Cafe,Music,Music,USD,2016-05-26 19:46:26,5000,2016-04-26 19:46:26,5170,successful,0,"N,""0",NaN,NaN,NaN,NaN,NaN
2122,1012807897,Juliet Remembered,Film & Video,Film & Video,GBP,2016-02-06 13:44:33,6500,2016-01-07 13:44:33,6660.12,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
2232,1013389538,Make admission to the London Music Awards cere...,Music,Music,CAD,2015-06-09 15:22:18,3500,2015-05-10 15:22:18,207,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320925,982862687,Bydlo - A Novel,Publishing,Publishing,GBP,2015-06-01 12:51:16,3000,2015-04-02 12:51:16,0,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
320937,982919439,Faith,Film & Video,Film & Video,USD,2016-05-06 04:17:33,9000,2016-03-07 04:17:33,2,failed,0,"N,""0",NaN,NaN,NaN,NaN,NaN
321068,983728691,The Octopodes' 5th Studio Album!,Music,Music,USD,2016-01-05 05:59:00,8000,2015-11-19 23:43:09,8025,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
321288,985231591,TWO FISH,Film & Video,Film & Video,USD,2014-05-17 00:00:00,8000,2014-04-21 21:52:55,8562,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
321473,986253191,"DEVELOP MAGAZINE FOR THE ARTS, MUSIC, AND DESI...",Publishing,Publishing,USD,2015-02-28 17:43:13,5000,2015-01-29 17:43:13,0,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
321513,986471034,"Help Revival finish their new album, Guidance.",Music,Music,USD,2015-05-02 01:00:00,2500,2015-04-03 11:16:00,420,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
321655,98744618,Vinyl for Dancing Pigeons!,Music,Music,SEK,2016-04-16 14:42:54,33000,2016-03-17 13:42:54,1105,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
321896,988763792,Maud Sings Maud: A Musical Betsy-Tacy Companion,Music,Music,USD,2015-12-03 00:55:19,6500,2015-10-04 00:55:19,7814,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
321973,989218116,Keep on Movin' - The Debut Album,Music,Music,GBP,2014-11-19 22:22:14,1300,2014-10-22 22:22:14,2,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
322005,989499289,Sojourner,Music,Music,USD,2016-04-11 23:22:51,2500,2016-03-12 23:22:51,80,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
322065,989874415,Love and Soul through Sound,Music,Music,USD,2015-06-27 02:15:00,3000,2015-05-28 17:17:08,45,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
322321,991409513,Chris Copeland's First EP,Music,Music,USD,2015-02-28 02:58:24,5500,2015-01-29 02:58:24,5763,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
322333,991483230,Support Vocal Synergy's Second Semester and Te...,Music,Music,USD,2015-12-20 05:59:00,3400,2015-12-05 05:10:10,3435,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
322382,991820324,The Blend CD 2015,Music,Music,USD,2015-05-15 00:07:51,8000,2015-04-15 00:07:51,8156,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
322472,992433603,Jonny Come Lately,Film & Video,Film & Video,USD,2014-12-24 20:47:45,8500,2014-11-24 20:47:45,9146,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
322730,994080962,Maximum Coppage,Film & Video,Film & Video,USD,2014-08-19 03:42:11,3000,2014-07-18 03:42:11,3175,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
322818,994621918,Star Sailor,Film & Video,Film & Video,USD,2016-01-01 07:00:00,8000,2015-12-03 20:25:41,8061,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
322881,994911312,"""Songwriter assistance"" service",Music,Music,CAD,2014-12-22 00:56:04,5000,2014-11-22 00:56:04,0,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
322883,994933706,Whiskey and Holy Water,Music,Music,USD,2015-05-11 04:25:00,6500,2015-03-25 03:55:53,6696,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
323077,99613274,Double EP and Music Video Fundraiser,Music,Music,GBP,2015-12-02 21:00:00,3000,2015-11-02 09:33:38,3517,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
323198,996908566,The World Needs More Big Thinkers,Publishing,Publishing,USD,2015-09-13 03:01:31,8000,2015-07-30 03:01:31,0,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
323275,99739483,No More Fear,Music,Music,GBP,2016-04-17 01:00:00,2500,2016-03-17 13:43:26,2500,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
323313,997554968,Susan Picking: Making Music with Kids in the S...,Music,Music,USD,2015-03-01 05:59:00,8000,2015-01-31 20:58:01,8582,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
323352,997793413,Whisper Violet - Honors Senior Thesis Film,Film & Video,Film & Video,USD,2016-05-14 01:27:27,2000,2016-04-14 01:27:27,2300,successful,0,"N,""0",NaN,NaN,NaN,NaN,NaN
323379,997915422,Otter's First Full Length Album,Music,Music,USD,2015-12-31 00:25:06,5000,2015-12-01 00:25:06,6065.26,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
323391,997971307,"EQUUS International Film Festival®, all-equine...",Film & Video,Film & Video,USD,2015-02-03 04:19:14,7500,2014-12-05 04:19:14,10,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
323456,998319149,Emily 2050 - Short Film,Film & Video,Film & Video,CAD,2014-05-23 00:30:09,3000,2014-04-08 00:30:09,3102,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
323561,9988744,Matthew Stephens Music,Music,Music,USD,2016-02-05 23:00:00,5000,2016-01-06 21:59:23,235,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
323683,999610349,Lady Vendredi: Afrofuturist concept 12 inch EP,Music,Music,GBP,2015-10-19 22:33:18,2000,2015-09-21 22:33:18,2125,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
323685,999621278,Jeune auteur a besoin de vous!,Publishing,Publishing,EUR,2015-11-20 21:28:13,1600,2015-10-21 21:28:13,0,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN

In [27]:
country_list = ['GB', 'US', 'CA', 'NO', 'AU', 'IT', 'DE', 'IE', 'ES', 'N,"0', 'MX','SE', 'FR', 'NL', 'NZ', 'CH', 'AT', 'BE', 'DK', 'HK', 'LU']

In [45]:
df_c2 = df_c1[df_c1['country'].isin(country_list)]

In [46]:
df_c2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 322999 entries, 0 to 323749
Data columns (total 17 columns):
ID               322999 non-null int64
name             322995 non-null object
category         322999 non-null object
main_category    322999 non-null object
currency         322999 non-null object
deadline         322999 non-null object
goal             322999 non-null object
launched         322999 non-null object
pledged          322999 non-null object
state            322999 non-null object
backers          322999 non-null object
country          322999 non-null object
usdpledged       319209 non-null object
Unnamed:13       0 non-null object
Unnamed:14       0 non-null object
Unnamed:15       0 non-null object
Unnamed:16       0 non-null float64
dtypes: float64(1), int64(1), object(15)
memory usage: 44.4+ MB

In [47]:
# now we can drop all those Unnamed columns cause they are empty
df_c2 = df_c2.drop(columns = ['Unnamed:13', 'Unnamed:14', 'Unnamed:15', 'Unnamed:16'], axis = 1)

In [48]:
df_c2.sample()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usdpledged
46617,1277107509,Gaming Vlog,Shorts,Film & Video,AUD,2014-12-18 23:59:17,10000,2014-11-18 23:59:17,0,failed,0,AU,0

In [49]:
#let's take care of time data
df_c2.deadline[0]

'2015-10-09 11:36:00'

In [50]:
df_c2['deadline'] = df_c2['deadline'].str.split(' ').str.get(0)
df_c2['launched'] = df_c2['launched'].str.split(' ').str.get(0)

In [51]:
df_c2.sample()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usdpledged
309968,917345297,Whare no name - the new home of M?ori Theatre,Theater,Theater,NZD,2015-04-21,10000,2015-03-23,10355,successful,61,NZ,7834.34023445

In [52]:
df_c2['deadline'] = pd.to_datetime(df_c2['deadline'])
df_c2['launched'] = pd.to_datetime(df_c2['launched'])

In [53]:
df_c2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 322999 entries, 0 to 323749
Data columns (total 13 columns):
ID               322999 non-null int64
name             322995 non-null object
category         322999 non-null object
main_category    322999 non-null object
currency         322999 non-null object
deadline         322999 non-null datetime64[ns]
goal             322999 non-null object
launched         322999 non-null datetime64[ns]
pledged          322999 non-null object
state            322999 non-null object
backers          322999 non-null object
country          322999 non-null object
usdpledged       319209 non-null object
dtypes: datetime64[ns](2), int64(1), object(10)
memory usage: 44.5+ MB

In [54]:
df_c2.sample()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usdpledged
256763,597783808,Skydiving with Rob Ford,Film & Video,Film & Video,USD,2015-06-04,250,2015-05-05,3,failed,2,US,3

In [ ]:
#and turn columns with numbers to integers 
df_c2[["goal", "pledged", "backers", "usdpledged"]] = df_c2[["goal", "pledged", "backers", "usdpledged"]].apply(pd.to_numeric)

In [ ]:
df_c2.sample()

#### next step is to plot few graphs to see if there any correlations

In [ ]:
import plotly.plotly as py
import plotly.graph_objs as go